# Custom partition table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"

# Flash size — Korvo-1 has 16 MB
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"

# ESP-SR configuration
CONFIG_ESP_SR_WAKE_NET_WN9_HIESP=y
CONFIG_ESP_SR_ENABLE_NS_MODEL=y
# CONFIG_ESP_SR_ENABLE_VAD_MODEL is not set
# CONFIG_ESP_SR_WEAKE_NET_WN9_ALEXA is not set
# CONFIG_ESP_SR_WEAKE_NET_WN9_HILEXIN is not set
